<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="log4net.Config" value="log4net.config"/>
    <add key="log4net.Config.Watch" value="True"/>
    <add key="WorkFolder" value="batchwork"/>
    <!--SMTP Setting-->
    <add key="Server" value="ht.ef.com"/>
    <add key="PickupDirectoryLocation" value="\\10.43.42.153\Pickup"/>
    <add key="User" value="English.Report@ef.com"/>
    <add key="Password" value="9:::"/>
    <add key="ExceptionFrom" value="EtlException@ef.com"/>
    <add key="ExceptionTo" value="Harry.Ning@ef.com"/>
    <add key="UsePickupDirectoryLocation" value="false"/>
   <!--End of SMTP Setting-->
  </appSettings>
</configuration>
